* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#landing {
  position: absolute;
  background-color: whitesmoke;
  height: 100%;
  width: 100%;
}

#player-car {
  height: 110px;
  width: 56px;
  background-image: url(images/player-car-sprite.png);
  background-repeat: no-repeat;
}
